/*Cards*/
.card-title {
    font-size: 15px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu {
    position: absolute;
    display: flex;
    left: 50px;
    z-index: 10;
}

.tableCSS {
    position: absolute;
    display: block;
    right: 400px;
    top: 60px;
    width: 120px !important;
}

