.plotDiv {
    position: absolute !important;
    display: block !important;
    left: 50px;
    top: 70px;
    height: 585px !important;
    width: 1040px !important;
    background-size: cover;
}

.buttonDiv {
    position: absolute !important;
    display: flow-root !important;
    top: 600px;
    left: 60px;
    height: 100px;
    width: 1000px;
    /*background: #282c34;*/
}

.lineTypeButtons {
    position: absolute;
    right: 10px;
    top: 40px;
}

.buttonHeading{
    position: absolute !important;
    display: flow-root !important;
    top: 600px;
    left: 60px;
    height: 100px;
    width: 1000px;
    font-family: "Helvetica Neue", serif;
    font-weight: bold;
}

.buttonHeadingLineFunctions{
    position: absolute;
    right: 285px;
    top: 0;
    font-family: "Helvetica Neue", serif;
    font-weight: bold;
}
