.plotDiv {
    position: absolute !important;
    display: block !important;
    left: 50px;
    top: 70px;
    height: 585px !important;
    width: 1040px !important;
    background-size: cover;
}

.buttonDiv {
    position: absolute !important;
    display: flow-root !important;
    top: 600px;
    left: 10px;
    height: 100px;
    width: 1040px;
    /*background: #282c34;*/
}
