/*Header*/

.header {
    position: absolute;
    display: block;
    height: 40px;
    width: 100%;
    background-color: #282c34;
}

#menuItems {
    padding-left: 10px;
    padding-top: 7px;
    z-index: 11;
}

.btn {
    height: 25px !important;
    width: 100px;
    line-height: 10px !important;
    font-size: 12px;
}

.newbtn {
    height: 25px !important;
    width: 100% !important;
    line-height: 10px !important;
    font-size: 12px;
}

.caret {
    margin-left: 5px !important;
}

.title {
    position: absolute;
    height: 40px;
    width: 100%;
    text-align: center;
    color: white;
    top: 5px;
    font-size: large;
    font-family: "Helvetica Neue", serif;
    font-weight: bold;
    /*background-color: white;*/
}
