.header {
    position: absolute;
    display: block;
    height: 40px;
    width: 100%;
    background-color: #282c34;
}

.card-title{
    font-size: 15px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu {
    position: absolute;
    display: flex;
    left: 50px;
    z-index: 10;
}

.cardsColumn1{
    position: absolute;
    display: block;
    right: 380px;
    top: 70px;

}

.cardsColumn2{
    position: absolute;
    display: block;
    right: 210px;
    top: 70px;
}

.cardsColumn3{
    position: absolute;
    display: block;
    right: 40px;
    top: 70px;
}

.cards {
    margin-bottom: 10px;
    width: 15rem !important;
    height: auto;
    padding: 1px 10px 1px;
    background: linear-gradient(to right, #ff00cc, #333399); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*margin-bottom: 30px;*/
    /*width: 200px;*/
    /*height: 100px;*/
    border-radius: 5px;
    text-align: center;
    /*line-height: 30px;*/
    font-size: 12px !important;
    /*color: aliceblue;*/
}

#menuItems {
    padding-left: 10px;
    padding-top: 5px;
    z-index: 11;
}

.btn {
    height: 25px !important;
    width: 100px;
    line-height: 10px !important;
    font-size: 12px;
}

.caret {
    margin-left: 5px !important;
}

